* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  color: #fff;
  /*letter-spacing: -.02em;*/
}

html {
  font-size: 20px;
}

body {
  background: #000;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-weight: 700;
}

button {
  color: #fff;
  background: none;
  outline: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  transition: opacity .15s ease-in-out;
  display: flex;
  gap: .5rem;
  align-items: center;
}

button:hover {
  opacity: .5;
}

::selection {
  background: #fff;
  color: #000;
}

::-webkit-scrollbar {
  width: .5rem;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.wrapper > section {
  width: min(100%, 72rem);
  position: relative;
}

.text {
  display: flex;
  flex-direction: column;
  width: min(100%, 25rem);
  gap: 2rem;
  padding: 4rem 1rem 2rem 6rem;
}

.text__head {
  font-size: 2.5rem;
  font-weight: 700;
}

.text__p {
  font-size: .9rem;
  font-family: NotoSans, sans-serif;
}

.header {
  display: flex;
  gap: max(1rem, 6vw);
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logo > img {
  width: 5rem;
}

.header__logo > h1 {
  font-size: 1rem;
}

.header__login {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.header__login > button {
  font-family: NotoSans, monospace;
  font-size: .9rem;
}

.hello {
  height: min(100vh, 50rem);
  padding: 0 max(1rem, 4vw);
  display: flex;
  flex-direction: column;
}

.hello__center {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.center__left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 5vw;
  padding: 8rem 0 4rem 0;
}

.center__title > h1 {
  font-size: 3rem;
  line-height: 3.3rem;
}

.center__description {
  display: flex;
  align-items: center;
  font-family: NotoSans, monospace;
  line-height: 1.2rem;
}

.description__deco {
  width: 10rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  position: relative;
  top: -2.5rem;
  right: -2.5rem;
  z-index: -1;
}

.description__deco:before {
  content: url("./images/HelloBlur.svg");
  position: absolute;
  z-index: -10;
  width: 5rem;
}

.description__deco-divider {
  width: 80%;
  height: .15rem;
  background: #fff;
  transform: rotate(120deg);
  position: absolute;
  top: 6rem;
  left: 1rem;
}

.description__text {
  font-size: 1rem;
}

.center__phone {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  position: relative;
}

.center__phone-image {
  width: max(55%, 15rem);
  filter: drop-shadow(0 0 3rem #fff4);
}

.center__phone-shadow {
  position: absolute;
  width: 100vw;
  z-index: -1;
}

.cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5vw;
  background: #212834;
  z-index: 1;
  font-size: .7rem;
  transition: .15s ease-in-out;

  opacity: 0;
  pointer-events: none;
}

.cookie__button {
  padding: 1rem 2.2rem;
  border: #fff solid .05rem;
  border-radius: .5rem;
  background: #FFFFFF1A;
  text-transform: uppercase;
  text-decoration: none;
}

.download {
  height: fit-content;
  padding: 4rem max(1rem, 4vw);
}

.download__title {
  text-transform: uppercase;
  font-size: 1.75rem;
}

.download__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.download__links {
  width: 40vw;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}
.download__links img {
  height: 3rem;
}
.download__links > a {
  transition: .15s ease-in-out;
}
.download__links > a:hover {
  opacity: .5;
}

.questions {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 8.5rem 0 4rem 0;
}

.questions__block {
  padding: 3rem;
  border: .05rem solid #fff;
  border-radius: 1rem;
  width: 25rem;
  height: 16rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.questions__block > * {
  font-family: NotoSans, monospace;
  width: fit-content;
}

.questions__block > h2 {
  font-size: 1.5rem;
}

.questions__block > button {
  font-size: 1.2rem;
}

.ourMission {
  display: flex;
}

.ourMission__left-block {
  position: relative;
  width: 60%;
  height: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ourMission__image {
  height: min(70vw, 50rem);
  filter: drop-shadow(0 0 3rem #fff3);
  transform: rotate(90deg);
  position: absolute;
  right: 35%;
}

.ourMission__text > h1:before {
  z-index: -1;
  position: absolute;
  right: min(8vw, 4rem);
  top: 0;
  content: url("./images/OurMissionBlur.svg");
}

.IDScanner {
  margin-top: 10rem;
  height: min(80vw, 60rem);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0 1rem 4rem 1rem;
}

.IDScanner__background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -2;
}

.IDScanner__content {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.IDScanner__images {
  display: flex;
  gap: 2rem;
  height: fit-content;
}

.IDScanner__images > img {
  width: min(18rem, 20vw);
}

.IDScanner__background-shadow {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 16/10;
  background: linear-gradient(#000, #0000, #000);
}

.BI {
  padding: 5rem 0 5rem 0;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.BIText {
  width: min(100%, 35rem);
  position: relative;
  height: 100%;
}

.BIText:before {
  content: url("./images/BlurBI.svg");
  z-index: -1;
  position: absolute;
  align-self: flex-end;
  bottom: -100%;
}

.graphs {
  position: relative;
  height: 35rem;
  width: 65%;
}

.graphs > div {
  position: absolute;
}

.graph > img {
  width: max(8rem, min(12vw, 10rem));
}

.graph-withoutBorder > img {
  width: max(12rem, min(22vw, 18rem));
}

.graph {
  border: #fff solid .05rem;
  padding: 1.5rem;
  border-radius: 1rem;
  width: fit-content;
  background: #000;
}

.graphs > div:nth-child(1) {
  left: 0;
  top: 50%;
}

.graphs > div:nth-child(2) {
  left: 15%;
  top: 30%;
}

.graphs > div:nth-child(3) {
  right: 20%;
  top: 0;
}

.graphs > div:nth-child(4) {
  left: 27.5%;
  top: 42.5%;
}

.graphs > div:nth-child(5) {
  right: 10%;
  top: 35%;
}

.graphs > div:nth-child(6) {
  bottom: 10%;
  left: 20%;
}

.graphs > div:nth-child(7) {
  right: 5%;
  bottom: 0;
}

@media (min-width: 2000px) {
  html {
    font-size: 1vw;
  }
}

@media (max-width: 1130px) {
  html {
    font-size: 15px;
  }
  .graphs {
    width: 80vw;
  }
}

@media (max-width: 700px) {
  .center__phone-image {
    width: 40vw;
  }
  .center__phone {
    width: 10vw;
  }
  .center__phone-shadow {
    width: 200vw;
  }
  .center__left-part {
    width: 66%;
  }
  .description__deco-divider {
    display: none;
  }
  .center__description {
    position: relative;
  }
  .description__deco {
    top: -5rem;
    left: -7.5rem;
    position: absolute;
  }

  .text {
    gap: 1rem;
    padding: 3rem 1rem 2rem 4rem;
  }
  .text__head {
    font-size: 2rem;
    font-weight: 700;
  }

  .text__p {
    font-size: .8rem;
    font-family: NotoSans, sans-serif;
  }

  .center__title > h1 {
    font-size: 2.5rem;
    line-height: 2.8rem;
  }

  .center__description {
    font-size: .8rem;
    line-height: 1rem;
  }

  .download__header {
    flex-direction: column;
    gap: 2rem;
  }

  .questions {
    flex-direction: column;
    padding: 6rem 1rem 4rem 1rem;
  }

  .questions__block {
    width: 100%;
    height: fit-content;
  }
}

@media (max-width: 550px) {
  .IDScanner {
    height: fit-content;
    padding: 12rem 0 4rem 0;
  }
  .IDScanner__content {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }
  .IDScanner__images {
    flex-direction: column;
    align-items: center;
  }
  .IDScanner__images > img {
    width: min(85%, 25rem);
    height: auto;
  }
  .text {
    padding: 3rem .75rem 2rem .75rem;
    width: 100%;
  }

  .ourMission {
    flex-direction: column-reverse;
    gap: 4rem;
    height: fit-content;
  }

  .ourMission__left-block {
    position: relative;
    width: 100%;
    height: fit-content;
  }

  .ourMission__image {
    position: unset;
    height: auto;
    width: min(85%, 25rem);
    transform: rotate(0deg);
    right: auto;
  }

  .ourMission__text {
    padding: 3rem 1.5rem 2rem .75rem;
  }

  .ourMission__text > h1:before {
    z-index: -1;
    position: absolute;
    right: min(8vw, 4rem);
    top: 0;
    content: url("./images/OurMissionBlur.svg");
  }
}

@media (max-width: 450px) {
  .header {
    width: 100%;
    justify-content: space-between;
  }
  html {
    font-size: 14px;
  }
  .center__left-part {
    z-index: 2;
    gap: 10vw;
  }
  .center__title > h1 {
    font-size: 2.5rem;
    line-height: 2.8rem;
  }
  .center__description {
    line-height: 1.2rem;
    font-size: .9rem;
  }
}

@media (max-width: 340px) {
  html {
    font-size: 4vw;
  }
}