* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  color: #fff;
}

html {
  font-size: 20px;
}

body {
  background: #000;
}

a {
  color: #fff;
  text-decoration: none;
}

::selection {
  background: #fff;
  color: #000;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hello {
  width: min(100%, 40rem);

}